@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

//Bokonique
@font-face {
  font-family: "Bokonique";
  src: url("http://api.mamikonyan.io/fonts/Bokonique/Bokonique-Regular.woff")
    format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Bokonique";
  src: url("http://api.mamikonyan.io/fonts/Bokonique/Bokonique-Light.woff")
    format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Bokonique";
  src: url("http://api.mamikonyan.io/fonts/Bokonique/Bokonique-Bold.woff")
    format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Bokonique";
  src: url("http://api.mamikonyan.io/fonts/Bokonique/Bokonique-Regular_Italic.woff")
    format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Bokonique";
  src: url("http://api.mamikonyan.io/fonts/Bokonique/Bokonique-Light_Italic.woff")
    format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Bokonique";
  src: url("http://api.mamikonyan.io/fonts/Bokonique/Bokonique-Bold_Italic.woff")
    format("woff");
  font-weight: 700;
  font-style: italic;
}

//Grqalir
@font-face {
  font-family: "Grqalir";
  src: url("http://api.mamikonyan.io/fonts/Grqalir/Grqalir-Regular.woff")
    format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Grqalir";
  src: url("http://api.mamikonyan.io/fonts/Grqalir/Grqalir-Italic.woff")
    format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Grqalir";
  src: url("http://api.mamikonyan.io/fonts/Grqalir/Grqalir-Bold.woff")
    format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Grqalir";
  src: url("http://api.mamikonyan.io/fonts/Grqalir/Grqalir-Bold_Italic.woff")
    format("woff");
  font-weight: 700;
  font-style: italic;
}

//Nicolo
@font-face {
  font-family: "Nicolo";
  src: url("http://api.mamikonyan.io/fonts/Nicolo/Nicolo-Regular.woff")
    format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Nicolo";
  src: url("http://api.mamikonyan.io/fonts/Nicolo/Nicolo-Italic.woff")
    format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Nicolo";
  src: url("http://api.mamikonyan.io/fonts/Nicolo/Nicolo-Bold.woff")
    format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Nicolo";
  src: url("http://api.mamikonyan.io/fonts/Nicolo/Nicolo-Bold_Italic.woff")
    format("woff");
  font-weight: 700;
  font-style: italic;
}

//Yerevanyan
@font-face {
  font-family: "Yerevanyan";
  src: url("http://api.mamikonyan.io/fonts/Yerevanyan/Yerevanyan-Regular.woff")
    format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Yerevanyan";
  src: url("http://api.mamikonyan.io/fonts/Yerevanyan/Yerevanyan-Italic.woff")
    format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Yerevanyan";
  src: url("http://api.mamikonyan.io/fonts/Yerevanyan/Yerevanyan-Bold.woff")
    format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Yerevanyan";
  src: url("http://api.mamikonyan.io/fonts/Yerevanyan/Yerevanyan-Bold_Italic.woff")
    format("woff");
  font-weight: 700;
  font-style: italic;
}
